body {
    background: linear-gradient(45deg, #171717, #0d0d0d);
}

#database-map {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    height: 100%;
}

#svg-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#context-menu {
    background-color: #f0f0f0;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 12px;
}

#context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#context-menu li {
    padding: 1px 5px;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
}

#context-menu li:hover {
    background-color: #ddd;
}

.node-selected {
    filter: drop-shadow(0 0 10px red);
}

.node-hover-enabled:hover {
    filter: drop-shadow(0 0 10px blue);
}

.node-modifying {
    filter: drop-shadow(0 0 10px red);
}

.tooltip {
    position: absolute;
    text-align: left;
    width: 300px;
    padding: 10px;
    font: 14px 'Consolas', 'Courier New', monospace;
    background: rgba(30, 30, 30, 0.9);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    white-space: pre-wrap;
}