/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #171717, #0d0d0d);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    color: white;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.panel {
    grid-area: panel;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 500px;
}

.welcome-text {
    text-align: left;
}

.welcome-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.links {
    text-align: left;
    margin-top: 50px;
}

.links a {
    text-decoration: none;
    color: #444444;
    margin-right: 10px;
    font-size: 14px;
}

.login-form {
    padding: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
}


.submit-button:hover {
    background-color: #2c00a2;
}

.footer-bar {
    grid-column: 2;
    grid-row: 4;
    background: #232323; /* Dark grey background */
    height: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-bar p {
    color: #454545; /* Slightly darker text */
}

/* Add CSS styles to control logo size */
.welcome-text img {
    max-width: 100px; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
}

.muted-text {
    color: #454545;
    font-size: 14px;
}

.register-text {
    margin-top: 10px;
}

.no-decoration {
    text-decoration: none !important;
}

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #171717, #0d0d0d);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
    gap: 50px;
}

.formAll{
    display: grid;
    grid-template-areas: "upload"
                         "buttons"
                         "form"
                         "output"
                         "submit";
    grid-template-rows: auto 1fr auto auto;
    min-height: 580px;
    position: relative;
}

.form {
    grid-area: form;
    position: sticky;
    top:0;
    padding: 20px;
    width: 450px;
    min-height: 400px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
}

.submit-button {
    grid-area: submit;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #3145ee;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-change-button {
    width: 32%;
    padding: 10px;
    margin-top: 15px;
    background: #9631ee;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #2c00a2;
}

.output-box {
    grid-area: output;
    right: 2%;
    top: 10%;
    min-height: 60px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: white;
    overflow: auto; /* Add scroll if needed */
}

.button-group{
    grid-area: buttons;
    text-align: center;
}

.upload-field{
    grid-area: upload;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #9631ee;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.upload-field:hover, .form-change-button:hover {
    background-color: #631e91;
}




