
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.content {
    flex: 100%;
    max-width: 800px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

header {
    height: 10vw;
    background-color: #003160;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
    color: #003160;
}

p, a {
    line-height: 1.6;
    font-size: 14px;
}


a:hover {
    text-decoration: underline;
}

.logo {
    width: 15vw;
    display: block;
    margin: 0 auto;
}


footer {
    background-color: #003160;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
}

footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer nav li {
    display: inline-block;
    margin-right: 20px;
}

footer nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

footer nav a:hover {
    text-decoration: underline;
}