<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/impressum_etc.css}">
</head>

<body>

    <header>
        <img th:href="@{/img/logo_transparent.png}" alt="Logo" class="logo">
    </header>

    <nav>
        <ul>
            <li><a href="impressum.html">Impressum</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="dataPolicy.html">Data Policy</a></li>
        </ul>
    </nav>

    <div class="content">
        <h1>Contact</h1>

        <p>For questions, suggestions, or support, we are here to assist you. Reach out to us via:</p>

        <h2>Contact Information</h2>
        <p><strong>Address:</strong> Messerstr. 43, 89231 Neu-Ulm</p>
        <p><strong>Phone:</strong> +49 163/6299199</p>
        <p><strong>Email:</strong> heudgl01@thu.de </p>
    </div>

    <footer>
        <p></p>
    </footer>
    
</body>
</html>