<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
</head>

<body>

    <img src="..\static\img\logo_blue.png" alt="Logo" style="width: 15vw;">

    <h1>Contact</h1>

    <p>For questions, suggestions, or support, we are here to assist you. Reach out to us via:</p>

    <h2>Contact Information</h2>
    <p><strong>Address:</strong> Messerstr. 43, 89231 Neu-Ulm</p>
    <p><strong>Phone:</strong> +49163-6299199</p>
    <p><strong>Email:</strong> heudgl01@thu.de </p>

</body>

</html>
