<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Node Form</title>
    <link rel="stylesheet" href="../css/databaseEntry.css">
</head>
<body>
<div class="container">
    <form id="createNodeForm" class="form">
        <div class="form-group welcome-text">
            <h1>Create Node Form</h1>
        </div>

        <div class="form-group">
            <label for="parentID">Parent ID:</label>
            <input type="text" id="parentID" class="input-field" placeholder="Enter the ID of the parent node">
        </div>

        <div class="form-group">
            <label for="msgText">Message Text:</label>
            <input type="text" id="msgText" class="input-field" placeholder="Enter the text message">
        </div>

        <div class="form-group">
            <label for="dialogNodeText">Node Text:</label>
            <input type="text" id="dialogNodeText" class="input-field" placeholder="Enter the node text">
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" class="input-field" placeholder="Enter your username">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="input-field" placeholder="Enter your password">
        </div>

        <div class="form-group create-btn">
            <input type="submit" class="submit-button" value="Create Node">
        </div>
    </form>

    <div class="output-box" id="resultBox"></div>
</div>

<script src="../js/databaseEntry.js"></script>
</body>
</html>
