<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/css/impressum_etc.css">

</head>

<body>
    <header>
        <img src="..\static\img\logo_transparent.png" alt="Logo" class="logo">
    </header>

    <nav>
        <ul>
            <li><a href="impressum.html">Impressum</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="dataPolicy.html">Data Policy</a></li>
        </ul>
    </nav>

    <div class="content">
        <h1>Datenschutzerklärung</h1>

        <h2>1. Allgemeiner Hinweis und Pflichtinformationen</h2>
        <h3>1.1 Verantwortliche Stelle</h3>
        <p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
        <p>thuBOT<br>Gloria Heudorfer<br>Messerstr. 43A<br>89231 Neu-Ulm</p>

        <p>Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die Zwecke und Mittel der
            Verarbeitung von personenbezogenen Daten.</p>

        <h3>1.2 Arten der gesammelten Daten</h3>
        <p>thuBOT kann folgende Daten erfassen:</p>
        <p>Benutzeranfragen und eingegebene Informationen</p>

        <h3>1.3 Speicherdauer</h3>
        <p>Wir speichern temporäre Informationen, um unseren Service anbieten zu können. Diese Daten werden nur für
            die Dauer Ihrer Sitzung gespeichert und automatisch gelöscht, sobald die Webseite verlassen oder neu geladen
            wird.</p>

        <h3>1.4 Tracking</h3>
        <p>thuBOT verwendet keine Trackingdienste wie Facebook Pixel, Google Analytics etc.</p>

        <h3>1.5 Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h3>
        <p>Die Verarbeitung Ihrer Daten erfolgt auf Grundlage Ihrer Einwilligung oder zur Erfüllung eines Vertrags
            (Artikel 6 DSGVO).</p>


        <h2>2. ChatGPT</h2>
        <p>thuBOT verwendet ChatGPT, um Anfragen zu verbessern und genauere Auskünfte zu liefern. Ihre eingegebenen
            Daten können
            in Echtzeit an ChatGPT übermittelt und verarbeitet werden, ohne dass personenbezogene Daten gespeichert
            werden.
            Die Datenschutzbestimmungen gelten weiterhin.</p>

        <h2>3. Google Web Fonts</h2>
        <p>Wir verwenden Google Fonts von Google Ireland Limited zur Bereitstellung von Schriftarten. Um diese
            Schriftarten zu beziehen, stellen Sie eine
            Verbindung zu Servern von Google Ireland Limited her, wobei Ihre IP-Adresse übertragen wird. Die
            Verarbeitung basiert auf Ihrer Einwilligung gemäß
            Art. 6 Abs. 1 lit. a. DSGVO und § 25 Abs. 1 TTDSG.
        <p>Weitere Informationen finden Sie in der Datenschutzerklärung für Google Fonts: <a
                href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a>.</p>
    </div>

    <footer>
        <p></p>>
    </footer>

</body>
</html>