<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dialog Map Display</title>
    <link rel="stylesheet" th:href="@{/css/explore_nodes_static.css}">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script th:src="@{/js/d3VisStatic.js}"></script>
    <script th:src="@{/js/explore_nodes_static.js}"></script>
    
</head>
<body>

    <div id="svg-container">
        <div id="tree-cont-static"></div>
    </div>

    <div id="context-menu" style="display: none; position: absolute; z-index: 1000;">
        <ul>
            <li id="create-node">Create Node</li>
            <li id="modify-node">Modify Node</li>
        </ul>
    </div>

    <div id="resultBox"></div>

    <input type="hidden" id="parentID">
    <input type="hidden" id="msgText">
    <input type="hidden" id="dialogNodeText">
    <input type="hidden" id="newParentID">

</body>
</html>