<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dialog Map Display</title>
    <link rel="stylesheet" href="@{/css/explore_nodes_static.css}">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script th:src="@{/js/d3VisStatic.js}"></script>
    <script th:src="@{/js/explore_nodes_static.js}"></script>
</head>
<body>

    <div id="tree-cont-static" class="tree-cont-static">
    </div>

</body>
</html>